@font-face {
  font-family: Canterbury;
  src: url('./fonts/Canterbury.ttf');
}

* {
  font-family: Canterbury;
  font-weight: initial;
  font-size: 34px;
  color: rgb(235, 233, 228);
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.bg {
  background-image: url('imgs/razval/BG/bg_test_v002.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.bg-header {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(11px);
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 62px;
}
.header {
  padding-top: 12px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
}
