<header>
  <div class="bg-header">
    <div class="header">
      <div class="headerLeft">
        <li class="header-item"><a href="/">Home page</a></li>
        <li class="header-item"><a href="#">About</a></li>
        <li class="header-item"><a href="#">Contacts</a></li>
      </div>
      <div class="headerrIGHT">
      <li class="header-item"><a href="#">Cart</a></li>
    </div>
  </div>
</header>
