<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>

    <!-- /public is static folder ( server.js ) -->
    <link rel="stylesheet" href="/css/homePage.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="side left">
        <div class="image razval"></div>
        <a href="/razval" class="buttton">Razval</a>
      </div>
      <div class="side right">
        <div class="image custom"></div>
        <a href="/dubrovsky" class="buttton">Andrey Dubrovsky</a>
      </div>
    </div>
  </body>
</html>
