<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>razval</title>

    <!--* /public is static folder ( server.js ) -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/razval.css" />
    <link rel="stylesheet" href="/css/blocks.css" />
  </head>
  <body class="bg">
    <!--* header -->
    <%- include('blocks/header') -%>

    <main>
      <div class="container"></div>
      <!--* push from razvalCard.js -->
    </main>

    <!--* footer -->
    <%- include('blocks/footer') -%>

    <script type="module" src="/js/razvalCard.js" defer></script>
  </body>
</html>
