@font-face {
  font-family: Canterbury;
  src: url('/fonts/Canterbury.ttf');
}

/* Variable declarations */
:root {
  --buttonAdmin-padding: 40px;
  --borderRadius-min: 6px;
}

body {
  font-family: Canterbury;
}
.bg {
  background-image: url('/imgs/razval/BG/bg_test_v002.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.bg-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 2;
}
.bg-footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  overflow: hidden; /** for padding for blure shadow for cardName */
  position: relative;

  margin: 8px 5px 8px 5px;
  height: 700px;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 1));
}

img {
  width: 604px;
  height: 604px;
}
.cardName {
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 100px; /** for blure shadow */
  color: rgb(0, 0, 0);
  font-size: 36px;
  filter: drop-shadow(0px 0px 6px rgb(255, 255, 255))
    drop-shadow(0px 0px 12px rgb(255, 255, 255))
    drop-shadow(0px 0px 21px rgb(255, 255, 255))
    drop-shadow(0px 0px 27px rgb(255, 255, 255));
}

/* Adminka */
.cardsAdmin {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid black;
  border-radius: var(--borderRadius-min);
}

.cards span {
  position: absolute;
  background-size: cover;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.edit {
  background-image: url('/imgs/icons/edit.png');
  left: var(--buttonAdmin-padding);
  top: var(--buttonAdmin-padding);
}
.remove {
  background-image: url('/imgs/icons/bin.png');
  right: var(--buttonAdmin-padding);
  top: var(--buttonAdmin-padding);
}
.moveLeft {
  background-image: url('/imgs/icons/arrow-left.png');
  left: var(--buttonAdmin-padding);
  bottom: var(--buttonAdmin-padding);
}
.moveRight {
  background-image: url('/imgs/icons/arrow-right.png');
  right: var(--buttonAdmin-padding);
  bottom: var(--buttonAdmin-padding);
}

/* Popup */

.popupBg {
  position: fixed;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  z-index: 1;
}
.popupContainer {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 85%;
  height: 80vh;

  background-color: black;
  border-radius: var(--borderRadius-min);
  border: 2px solid silver;

  z-index: 1;
}
.popupContainer a {
  position: absolute;
  right: 25px;
  top: 25px;
}

.poupImg {
  position: relative;
  width: 40%;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
}

.poupImg {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
}

.popupArray {
  position: absolute;
  width: 35%;
  height: 65vh;

  top: 50%;
  left: 77%;
  transform: translate(-50%, -50%);
}

.popupName {
  font-size: calc((1rem + 3vw) * 0.7);
  position: relative;
  text-align: center;
}
.popupPrice {
  font-size: calc((1rem + 3vw) * 0.3);
  text-align: center;
  color: brown;
}
.popupDiscription {
  font-size: calc((1rem + 3vw) * 0.27);
  padding: 5% 0 5% 0%;
}
.popupSize {
  font-size: calc((1rem + 3vw) * 0.35);
  text-align: center;
}
.popupCart {
  font-size: calc((1rem + 3vw) * 0.3);
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2.5% 0 2.5% 0%;
  margin: 0 33% 0 33%;
  border-radius: var(--borderRadius-min);
}
