<header>
  <div class="bg-header">
    <div class="header">
      <li class="header-item"><a href="/">Home page</a></li>
      <li class="header-item"><a href="#">About</a></li>
      <li class="header-item"><a href="#">Cart</a></li>
    </div>
  </div>
</header>
