<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ad</title>

    <!--* /public is static folder ( server.js ) -->
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/dubrovsky.css" />
    <link rel="stylesheet" href="/styles/blocks.css" />
    <script src="razvalCard.js" defer></script>
  </head>
  <body class="bg">
    <%- include('blocks/header') -%>

    <main>
      <div class="container"></div>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
        fugiat consequatur, maiores illum nam assumenda ducimus quasi veritatis
        voluptatum eius eligendi ad non beatae ratione neque. Quia esse ad
        atque?
      </p>
    </main>

    <%- include('blocks/footer') -%>

    <!-- <div class="bg">
      <a href="homePage.html" class="homePage">home page</a>
      <a href="#" class="about">about</a>
    </div> -->
  </body>
</html>
