<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>razval</title>

    <!--* /public is static folder ( server.js ) -->
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/razval.css" />
    <link rel="stylesheet" href="/styles/blocks.css" />

    <link rel="icon" href="/imgs/razval/icons/razvaFacel.ico" />
  </head>
  <body class="bg">
    <!-- header -->
    <%- include('blocks/header') -%>

    <main>
      <!-- popup -->

      <div class="popup"></div>
      <!-- Items cards -->
      <div class="container"></div>
      <!--* push from razvalCard.js -->
    </main>

    <!-- footer -->
    <%- include('blocks/footer') -%>

    <script type="module" src="/js/render.js" defer></script>
  </body>
</html>
